{% load static %}
<script src="{% static 'js/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'js/jquery-scrollLock/jquery-scrollLock.min.js' %}"></script>
<script src="{% static 'js/app.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>