<th:block xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          xmlns:th="http://www.thymeleaf.org"
          layout:decorate="~{layout-painel-aluno}">

    <div layout:fragment="conteudo">
        <header class="content__title">
            <nav style="background-color:transparent;">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active show pt-0" style="background-color:transparent;" id="nav-tarefas-pendentes-tab" data-toggle="tab" href="#nav-tarefas-pendentes"
                       role="tab" aria-controls="nav-profile" aria-selected="false">Tarefas Pendentes</a>
                    <a class="nav-item nav-link pt-0" style="background-color:transparent;" id="nav-tarefas-entregues-tab" data-toggle="tab" href="#nav-tarefas-entregues"
                       role="tab" aria-controls="nav-profile" aria-selected="false">Tarefas Entregues</a>

                </div>
            </nav>
        </header>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-tarefas-pendentes" role="tabpanel" aria-labelledby="nav-tarefas-pendentes-tab">

                <th:block th:each="entrega, i: ${entregasPendentes}" >
                    <div class="card border-light mb-12">
                        <div class="card-header bg-light  d-flex flex-row justify-content-start align-items-center ">
                            <i class="avatar-char bg-light-blue "></i>
                            <div class="m-0 ml-2 mr-2 flex-grow-1" style="flex-grow: 1">
                                <h4 class="m-0 card-title" th:utext="|${entrega.tarefa.titulo}|">1º Entrega</h4>
                                <span th:text="|Data para entrega: ${#dates.format(entrega.tarefa.dataEntrega, 'dd-mm-yyyy HH:mm')}|"></span>
                            </div>
                            <p class="m-0">
                                <span class="text-success" th:class="${entrega.status.textClass}" th:text="${entrega.status.nome}">Entregue</span>
                                <br>
                                <th:block th:if="${entrega.nota} == null" th:utext="|Nota: Não atribuida|">Nota: 10</th:block>
                                <th:block th:if="${entrega.nota} != null" th:utext="|Nota: ${entrega.status.nota}|">Nota: 10</th:block>
                            </p>
                        </div>
                        <div class="card-body m-0">
                            <p th:text="|Lançada em ${#dates.format(entrega.tarefa.dataCriacao, 'dd-mm-yyyy HH:mm')}|"
                               class="card-subtitle">
                                Lançada em 10/10/2018 pelo professor Alan Faraj
                            </p>

                            <div class="row border-top border-bottom bg-light">
                                <div th:utext="${entrega.tarefa.descricao}" class="card-text m-2">
                                    Engenharia de software (Entregável 1)
                                    <br>Engenharia de software (Entregável 1)
                                    <br>Engenharia de software (Entregável 1)
                                    <br>Engenharia de software (Entregável 1)
                                    <br>Engenharia de software (Entregável 1)
                                </div>
                            </div>
                           <!-- <div class="row mt-3">
                                <div class="col-sm-6 col-12">
                                    <h5 class="mb-3 mt-3 ">Links</h5>
                                    <div class="card-text ml-3 mr-3">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex align-items-center p-0">
                                                <a class="flex-fill m-0 p-2">
                                                    <span>Arquivo tal tal tal</span>
                                                    <span class="float-right">
                                                    <i class="zmdi zmdi-link zmdi-hc-fw"></i>
                                                </span>
                                                </a>
                                            </li>
                                            <li class="list-group-item d-flex align-items-center p-0">
                                                <a class="flex-fill m-0 p-2">
                                                    <span>Arquivo tal tal tal</span>
                                                    <span class="float-right">
                                                    <i class="zmdi zmdi-link zmdi-hc-fw"></i>
                                                </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <h5 class="mb-3 mt-3 ">Anexos</h5>
                                    <div class="card-text ml-3 mr-3">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex align-items-center p-0">
                                                <a class="flex-fill m-0 p-2">
                                                    <span class="p-2 badge badge-danger badge-pill mr-2">PDF</span>
                                                    <span>Arquivo tal tal tal</span>
                                                    <span class="float-right">
                                                    <i class="zmdi zmdi-download zmdi-hc-fw"></i>
                                                </span>
                                                </a>
                                            </li>
                                            <li class="list-group-item d-flex align-items-center p-0">
                                                <a class="flex-fill m-0 p-2">
                                                    <span class="p-2 badge badge-danger badge-pill mr-2">PDF</span>
                                                    <span>Arquivo tal tal tal</span>
                                                    <span class="float-right">
                                                    <i class="zmdi zmdi-download zmdi-hc-fw"></i>
                                                </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>-->
                            <div class="row mt-3">
                                <div th:if="${not #lists.isEmpty(entrega.arquivos)}" class="col-12">
                                    <h5 class="mb-3 mt-3 ">Entregas do grupo</h5>
                                    <div class="card-text ml-3 mr-3">
                                        <ul class="list-group">
                                            <li th:each="arquivo : ${entrega.arquivos}" class="list-group-item d-flex align-items-center p-0">
                                                <a class="flex-fill m-0 p-2">
                                                    <span class="p-2 badge badge-primary badge-pill mr-2">DOCX</span>
                                                    <span>Arquivo tal tal tal</span>
                                                    <span class="float-right">
                                                    <i class="zmdi zmdi-download zmdi-hc-fw"></i>
                                                </span>
                                                </a>
                                            </li>
                                            <!--<li class="list-group-item d-flex align-items-center p-0">
                                                <a class="flex-fill m-0 p-2">
                                                    <span class="p-2 badge badge-primary badge-pill mr-2">DOCX</span>
                                                    <span>Arquivo tal tal tal</span>
                                                    <span class="float-right">
                                                    <i class="zmdi zmdi-download zmdi-hc-fw"></i>
                                                </span>
                                                </a>
                                            </li>
                                            <li class="list-group-item d-flex align-items-center p-0">
                                                <a class="flex-fill m-0 p-2">
                                                    <span class="p-2 badge badge-danger badge-pill mr-2">PDF</span>
                                                    <span>Arquivo tal tal tal</span>
                                                    <span class="float-right">
                                                    <i class="zmdi zmdi-download zmdi-hc-fw"></i>
                                                </span>
                                                </a>
                                            </li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div th:if="${entrega?.status?.name() == 'PENDENTE'}" class="">
                            <form method="post" th:action="@{/painel/aluno/entregas/__${entrega.id}__/enviar}" >
                                <div class="d-flex justify-content-center">
                                    <div class="form-group">
                                        <label>Selecione os arquivos:</label>
                                        <input name="arquivos" type="file" class="" multiple="multiple">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-primary btn-lg m-2">Enviar</button>
                                </div>
                            </form>
                        </div>
                        <hr>
                        <div th:if="${not #lists.isEmpty(entrega.arquivos)}" class="mb-2">
                            <form method="post" th:action="@{/painel/aluno/entregas/__${entrega.id}__/marcar-como-entregue}" >
                                <div class="d-flex justify-content-center">
                                    <button  type="button" class="btn btn-success btn-lg m-2">Marcar como entrege</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </th:block>

            </div>
            <div class="tab-pane fade" id="nav-tarefas-entregues" role="tabpanel" aria-labelledby="nav-tarefas-entregues-tab">

                <th:block th:each="entrega, i: ${entregasRealizadas}" >
                    <div class="card border-light mb-12">
                        <div class="card-header bg-light  d-flex flex-row justify-content-start align-items-center ">
                            <i class="avatar-char bg-light-blue "></i>
                            <div class="m-0 ml-2 mr-2 flex-grow-1" style="flex-grow: 1">
                                <h4 class="m-0 card-title" th:utext="|${entrega.tarefa.titulo}|">1º Entrega</h4>
                                <span th:text="|Data para entrega: ${#dates.format(entrega.tarefa.dataEntrega, 'dd-mm-yyyy HH:mm')}|"></span>
                            </div>
                            <p class="m-0">
                                <span class="text-success" th:class="${entrega.status.textClass}" th:text="${entrega.status.nome}">Entregue</span>
                                <br>
                                <th:block th:if="${entrega.nota} == null" th:utext="|Nota: Não atribuida|">Nota: 10</th:block>
                                <th:block th:if="${entrega.nota} != null" th:utext="|Nota: ${entrega.status.nota}|">Nota: 10</th:block>
                            </p>
                        </div>
                        <div class="card-body m-0">
                            <p th:text="|Lançada em ${#dates.format(entrega.tarefa.dataCriacao, 'dd-mm-yyyy HH:mm')}|"
                               class="card-subtitle">
                                Lançada em 10/10/2018 pelo professor Alan Faraj
                            </p>

                            <div class="row border-top border-bottom bg-light">
                                <div th:utext="${entrega.tarefa.descricao}" class="card-text m-2">
                                    Engenharia de software (Entregável 1)
                                    <br>Engenharia de software (Entregável 1)
                                    <br>Engenharia de software (Entregável 1)
                                    <br>Engenharia de software (Entregável 1)
                                    <br>Engenharia de software (Entregável 1)
                                </div>
                            </div>
                            <!--<div class="row mt-3">
                                <div class="col-sm-6 col-12">
                                    <h5 class="mb-3 mt-3 ">Links</h5>
                                    <div class="card-text ml-3 mr-3">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex align-items-center p-0">
                                                <a class="flex-fill m-0 p-2">
                                                    <span>Arquivo tal tal tal</span>
                                                    <span class="float-right">
                                                    <i class="zmdi zmdi-link zmdi-hc-fw"></i>
                                                </span>
                                                </a>
                                            </li>
                                            <li class="list-group-item d-flex align-items-center p-0">
                                                <a class="flex-fill m-0 p-2">
                                                    <span>Arquivo tal tal tal</span>
                                                    <span class="float-right">
                                                    <i class="zmdi zmdi-link zmdi-hc-fw"></i>
                                                </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-6 col-12">
                                    <h5 class="mb-3 mt-3 ">Anexos</h5>
                                    <div class="card-text ml-3 mr-3">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex align-items-center p-0">
                                                <a class="flex-fill m-0 p-2">
                                                    <span class="p-2 badge badge-danger badge-pill mr-2">PDF</span>
                                                    <span>Arquivo tal tal tal</span>
                                                    <span class="float-right">
                                                    <i class="zmdi zmdi-download zmdi-hc-fw"></i>
                                                </span>
                                                </a>
                                            </li>
                                            <li class="list-group-item d-flex align-items-center p-0">
                                                <a class="flex-fill m-0 p-2">
                                                    <span class="p-2 badge badge-danger badge-pill mr-2">PDF</span>
                                                    <span>Arquivo tal tal tal</span>
                                                    <span class="float-right">
                                                    <i class="zmdi zmdi-download zmdi-hc-fw"></i>
                                                </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12">
                                    <h5 class="mb-3 mt-3 ">Entrega do grupo</h5>
                                    <div class="card-text ml-3 mr-3">
                                        <ul class="list-group">
                                            <li class="list-group-item d-flex align-items-center p-0">
                                                <a class="flex-fill m-0 p-2">
                                                    <span class="p-2 badge badge-primary badge-pill mr-2">DOCX</span>
                                                    <span>Arquivo tal tal tal</span>
                                                    <span class="float-right">
                                                    <i class="zmdi zmdi-download zmdi-hc-fw"></i>
                                                </span>
                                                </a>
                                            </li>
                                            <li class="list-group-item d-flex align-items-center p-0">
                                                <a class="flex-fill m-0 p-2">
                                                    <span class="p-2 badge badge-danger badge-pill mr-2">PDF</span>
                                                    <span>Arquivo tal tal tal</span>
                                                    <span class="float-right">
                                                    <i class="zmdi zmdi-download zmdi-hc-fw"></i>
                                                </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <!--<div class="d-flex justify-content-center card-footer">
                            <button type="button" class="btn btn-primary btn-lg mt-2 mb-2">Enviar</button>
                        </div>-->
                    </div>
                </th:block>

            </div>
        </div>
    </div>


    <th:block layout:fragment="javascript">
        <script>

        </script>

    </th:block>

</th:block>