<th:block xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout-painel-admin}">

    <th:block layout:fragment="css">

    </th:block>

    <div layout:fragment="conteudo">
        <header class="content__title">
            <nav style="background-color:transparent;">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active show pt-0" style="background-color:transparent;" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                        role="tab" aria-controls="nav-home" aria-selected="true">Grupo</a>
                    <a class="nav-item nav-link pt-0" style="background-color:transparent;" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                        role="tab" aria-controls="nav-profile" aria-selected="false">Tarefas</a>
                    <!-- <a class="nav-item nav-link pt-0" style="background-color:transparent;" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                        role="tab" aria-controls="nav-contact" aria-selected="false">Boletim</a> -->
                </div>
            </nav>
            <div class="actions">
                <div class="dropdown actions__item">
                    <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/painel/admin/grupos" class="dropdown-item">Lista</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="card profile">
                    <div class="profile__img">
                        <img style="height: 200px;width: 200px;" th:if="${!#strings.isEmpty(grupo.logoHash)}" th:src="@{/publico/arquivos/__${grupo.logoHash}__}"
                            alt="Logo">
                        <img style="height: 200px;width: 200px;" th:if="${#strings.isEmpty(grupo.logoHash)}" th:src="@{/img/group_empty.jpg}" alt="Logo">
                    </div>
                    <div class="profile__info">
                        
                        <p th:text="${grupo.nome}">Handcode</p>
                        <ul class="icon-list">
                            <li th:text="|Curso: ${grupo?.curso?.nome}|">Curso: ADS</li>
                            <li th:text="|Turma: ${grupo?.turma?.semestre}º${grupo?.turma?.letra} - ${grupo?.turma?.periodo?.nome}|">Turma: 3ºA - Manhã</li>
                            <li th:text="|${grupo.tema}|">Tema: OPE</li>
                        </ul>
                        <span  th:if="${grupo.aguardando}" class="badge badge-pill badge-warning">Aguardando aprovação</span>
                    </div>
                </div>


                <header class="content__title">
                    <h1>Integrantes</h1>

                    <!-- <div class="actions">
                        <a href="" class="actions__item zmdi zmdi-trending-up"></a>
                        <a href="" class="actions__item zmdi zmdi-check-all"></a>

                        <div class="dropdown actions__item">
                            <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="" class="dropdown-item">Atualizar</a>
                                <a href="" class="dropdown-item">Editar</a>
                            </div>
                        </div>
                    </div> -->
                </header>
                <div class="row">
                    <div th:each="aluno : ${grupo.alunos}" class="col-xl-3 col-lg-3 col-sm-4 col-6">
                        <div class="contacts__item">
                            <a href="" class="contacts__img">
                                <img th:if="${!#strings.isEmpty(aluno.fotoHash)}" th:src="@{/publico/arquivos/__${aluno.fotoHash}__}" alt="Foto">
                                <img th:if="${#strings.isEmpty(aluno.fotoHash)}" th:src="@{/img/group_empty.jpg}" alt="Foto">
                            </a>
                            <div class="contacts__info">
                                <strong th:text="${aluno.nome}">Alan presidente</strong>
                                <small th:text="${aluno.email}">alan@alan.com</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                <div class="card border-light mb-12">
                    <div class="card-header  bg-light d-flex flex-row justify-content-start align-items-center ">
                        <i class="avatar-char bg-light-blue ">ADS</i>
                        <h4 class="m-0 ml-2 mr-2 flex-grow-1 card-title">Entrega da documentação</h4>
                        <span class="m-0">Pendente</span>
                    </div>
                    <div class="card-body">
                        <p class="card-subtitle">Lançada em 10/10/2018 pelo professor Alan Faraj</p>
                        <h5 class="mb-3 text-center">Data para entrega: 10/10/2018</h5>
                        <div class="card-text">
                            Os alunos dos semestres e cursos abaixo deverão enviar a documentação para avaliação dos professores até 14/Set/2018 18:00h:
                            <br>3º Semestres: ADS, BD, GTI e SI
                            <br>4º Semestres: ADS, BD, GTI e SI
                            <br>5º Semestres: ADS, BD, GTI
                            <br>8º Semestres: SI
                            <br>Carregar o documento em: https://goo.gl/forms/oWnTaO7qiEP5fbSz2 ou https://sites.google.com/site/impactaadsope/documentacao-ope/entrega-alunos
                            .
                            <br>Formato do documento: DOC
                            <br>Cada encontro concentra uma relação de entregáveis que deve ser respeitada pelos grupos.
                            <br>Lista dos entregáveis: https://sites.google.com/site/impactaadsope/entregaveis-ope1-ope2-e-ope3
                            <br>O modelo da documentação está disponível em: https://sites.google.com/site/impactaadsope/documentacao-ope/modelos-de-documentacao
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <h5 class="mb-3 mt-3 ">Anexos da tarefa</h5>
                                <div class="card-text ml-3 mr-3">
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Consectetur adipiscing elit</li>
                                    <li>Integer molestie lorem at massa</li>
                                    <li>Facilisis in pretium nisl aliquet</li>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <h5 class="mb-3 mt-3 ">Anexos do grupo</h5>
                                <div class="card-text ml-3 mr-3">
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Consectetur adipiscing elit</li>
                                    <li>Integer molestie lorem at massa</li>
                                    <li>Facilisis in pretium nisl aliquet</li>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mr-5 ml-5 mt-3">
                            <button data-toggle="modal" data-target="#modal-enviar-entrega" type="button" class="btn btn-primary btn-lg flex-grow-2 ">Enviar</button>
                        </div>
                    </div>
                </div>

                <div class="card border-light mb-12">
                    <div class="card-header  bg-light d-flex flex-row justify-content-start align-items-center ">
                        <i class="avatar-char bg-light-blue ">ADS</i>
                        <h4 class="m-0 ml-2 mr-2 flex-grow-1 card-title">2º entrega</h4>
                        <span class="text-danger">Não Entregue</span>
                        <div class="dropdown actions__item">
                            <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="" class="dropdown-item">Editar</a>
                                <a href="" class="dropdown-item">Remover</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-subtitle">Lançada em 10/10/2018 pelo professor Alan Faraj</p>
                        <h5 class="mb-3">Data para entrega: 10/10/2018</h5>
                        <div class="row card-header">
                            <div class="card-text">
                                Os alunos dos semestres e cursos abaixo deverão enviar a documentação para avaliação dos professores até 14/Set/2018 18:00h:
                                <br>3º Semestres: ADS, BD, GTI e SI
                                <br>4º Semestres: ADS, BD, GTI e SI
                                <br>5º Semestres: ADS, BD, GTI
                                <br>8º Semestres: SI
                                <br>Carregar o documento em: https://goo.gl/forms/oWnTaO7qiEP5fbSz2 ou https://sites.google.com/site/impactaadsope/documentacao-ope/entrega-alunos
                                .
                                <br>Formato do documento: DOC
                                <br>Cada encontro concentra uma relação de entregáveis que deve ser respeitada pelos grupos.
                                <br>Lista dos entregáveis: https://sites.google.com/site/impactaadsope/entregaveis-ope1-ope2-e-ope3
                                <br>O modelo da documentação está disponível em: https://sites.google.com/site/impactaadsope/documentacao-ope/modelos-de-documentacao
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <h5 class="mb-3 mt-3 ">Anexos da tarefa</h5>
                                <div class="card-text ml-3 mr-3">
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Consectetur adipiscing elit</li>
                                    <li>Integer molestie lorem at massa</li>
                                    <li>Facilisis in pretium nisl aliquet</li>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <h5 class="mb-3 mt-3 ">Anexos do grupo</h5>
                                <div class="card-text ml-3 mr-3">
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Consectetur adipiscing elit</li>
                                    <li>Integer molestie lorem at massa</li>
                                    <li>Facilisis in pretium nisl aliquet</li>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mr-5 ml-5 mt-3">
                            <button type="button" data-toggle="modal" data-target="#modal-solicitar-reenvio" class="btn btn-warning btn-lg ">Solicitar reenvio</button>
                        </div>
                    </div>
                </div>

                <div class="card border-light mb-12">
                    <div class="card-header bg-light  d-flex flex-row justify-content-start align-items-center ">
                        <i class="avatar-char bg-light-blue ">ADS</i>
                        <h4 class="m-0 ml-2 mr-2 flex-grow-1 card-title">1º Entrega</h4>
                        <p class="m-0">
                            <span class="text-success">Entregue</span>
                            <br>Nota: 10</p>
                        <div class="dropdown actions__item ml-2">
                            <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="" class="dropdown-item">Editar</a>
                                <a href="" class="dropdown-item">Remover</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body m-0">
                        <p class="card-subtitle">Lançada em 10/10/2018 pelo professor Alan Faraj</p>
                        <h5 class="">Data para entrega: 10/10/2018</h5>
                        <div class="row border-top border-bottom bg-light">
                            <div class="card-text m-2">
                                Engenharia de software (Entregável 1)
                                <br>Engenharia de software (Entregável 1)
                                <br>Engenharia de software (Entregável 1)
                                <br>Engenharia de software (Entregável 1)
                                <br>Engenharia de software (Entregável 1)
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-6 col-12">
                                <h5 class="mb-3 mt-3 ">Links</h5>
                                <div class="card-text ml-3 mr-3">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex align-items-center p-0">
                                            <a class="flex-fill m-0 p-2">
                                                <span>Arquivo tal tal tal</span>
                                                <span class="float-right">
                                                    <i class="zmdi zmdi-link zmdi-hc-fw"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="list-group-item d-flex align-items-center p-0">
                                            <a class="flex-fill m-0 p-2">
                                                <span>Arquivo tal tal tal</span>
                                                <span class="float-right">
                                                    <i class="zmdi zmdi-link zmdi-hc-fw"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-6 col-12">
                                <h5 class="mb-3 mt-3 ">Anexos</h5>
                                <div class="card-text ml-3 mr-3">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex align-items-center p-0">
                                            <a class="flex-fill m-0 p-2">
                                                <span class="p-2 badge badge-danger badge-pill mr-2">PDF</span>
                                                <span>Arquivo tal tal tal</span>
                                                <span class="float-right">
                                                    <i class="zmdi zmdi-download zmdi-hc-fw"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="list-group-item d-flex align-items-center p-0">
                                            <a class="flex-fill m-0 p-2">
                                                <span class="p-2 badge badge-danger badge-pill mr-2">PDF</span>
                                                <span>Arquivo tal tal tal</span>
                                                <span class="float-right">
                                                    <i class="zmdi zmdi-download zmdi-hc-fw"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <h5 class="mb-3 mt-3 ">Entrega do grupo</h5>
                                <div class="card-text ml-3 mr-3">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex align-items-center p-0">
                                            <a class="flex-fill m-0 p-2">
                                                <span class="p-2 badge badge-primary badge-pill mr-2">DOCX</span>
                                                <span>Arquivo tal tal tal</span>
                                                <span class="float-right">
                                                    <i class="zmdi zmdi-download zmdi-hc-fw"></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="list-group-item d-flex align-items-center p-0">
                                            <a class="flex-fill m-0 p-2">
                                                <span class="p-2 badge badge-danger badge-pill mr-2">PDF</span>
                                                <span>Arquivo tal tal tal</span>
                                                <span class="float-right">
                                                    <i class="zmdi zmdi-download zmdi-hc-fw"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center card-footer">
                        <button type="button" class="btn btn-dark btn-lg mt-2 mb-2">Reenviar</button>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

            </div>
        </div>

        <div th:if="${grupo.aguardando}" class="menu btn-support pmd-floating-action" role="navigation">
            <a th:href="@{/app/painel/admin/grupos/__${grupo.id}__/recusar}" data-toggle="tooltip" data-placement="top" data-original-title="Recusar grupo" class="m-2 btn pmd-btn-fab pmd-ripple-effect btn-danger"
                type="button">
                <i class="material-icons pmd-sm">clear</i>
            </a>
            <a th:href="@{/app/painel/admin/grupos/__${grupo.id}__/aprovar}" data-toggle="tooltip" data-placement="top" data-original-title="Aprovar grupo" class="m-2 btn pmd-btn-fab pmd-ripple-effect btn-success"
                type="button">
                <i class="material-icons pmd-sm">check</i>
            </a>
        </div>


        <!-- <div class="menu pmd-floating-action" role="navigation">
            <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default"
                data-title="Supervisor Account">
                <span class="pmd-floating-hidden">Supervisor Account</span>
                <i class="material-icons">supervisor_account</i>
            </a>
            <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default"
                data-title="Cloud Queue">
                <span class="pmd-floating-hidden">Cloud Queue</span>
                <i class="material-icons">cloud_queue</i>
            </a>
            <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default"
                data-title="Headset">
                <span class="pmd-floating-hidden">Headset</span>
                <i class="material-icons">headset</i>
            </a>
            <a href="javascript:void(0);" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default"
                data-title="Dialpad">
                <span class="pmd-floating-hidden">Dialpad</span>
                <i class="material-icons">dialpad</i>
            </a>
            <a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" data-title="Add" href="javascript:void(0);">
                <span class="pmd-floating-hidden">Primary</span>
                <i class="material-icons pmd-sm">add</i>
            </a>
        </div>  -->


    </div>


    <th:block layout:fragment="javascript">
        <script>

        </script>

    </th:block>

</th:block>