<th:block xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          xmlns:th="http://www.thymeleaf.org"
          layout:decorate="~{layout-painel-admin}">

    <div layout:fragment="conteudo">
        <header class="content__title">
            <h1>Grupos</h1>
            <div class="actions">
                <div class="dropdown actions__item">
                    <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a th:href="@{/painel/admin/grupos}" class="dropdown-item">Pendentes</a>
                        <a th:href="@{/painel/admin/grupos}" class="dropdown-item">Não aprovados</a>
                        <a th:href="@{/painel/admin/grupos}" class="dropdown-item">Aprovados</a>
                        <a th:href="@{/painel/admin/grupos}" class="dropdown-item">Todos</a>
                    </div>
                </div>
            </div>
        </header>


        <div class="contacts row">

            <div th:each="grupo, i : ${grupos}" class="col-xl-2 col-lg-3 col-sm-4 col-6">

                <div class="contacts__item">
                    <div class="listview listview--striped">
                        <a th:href="@{/painel/admin/grupos/__${grupo.id}__}" class="contacts__img">
                            <img th:if="${grupo.logoHash}" th:src="@{/publico/arquivos/__${grupo.logoHash}__}" alt="Detalhes">
                        </a>

                    </div>
                    <div class="contacts__info">
                        <strong th:text="${grupo?.nome}">{{grupo.nome}}</strong>
                    </div>
                    <div class="contacts__info">
                        <p class="m-0" th:text="${grupo?.curso?.sigla}">{{grupo.curso.sigla}}</p>
                        <!--<p class="m-0" th:text="${grupo.disciplina.sigla}">{{grupo.curso.sigla}}</p>-->
                        <p class="m-0" th:text="${grupo?.status?.nome}">Aprovado</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <th:block layout:fragment="javascript">
        <script>

        </script>

    </th:block>

</th:block>