
{% extends "layout-administrador.html" %}
{% load static %}

{% block title %}
	Grupos  - {{ block.super }}
{% endblock %}

{% block main %}

<header class="content__title">
  <h1>grupos</h1>
  <div class="actions">
      <div class="dropdown actions__item">
          <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
          <div class="dropdown-menu dropdown-menu-right">
              <a href="/painel/administrador/grupos/" class="dropdown-item">Todos</a>
              <a href="/painel/administrador/grupos/?ativo=false" class="dropdown-item">Não Aprovados</a>
              <a href="/painel/administrador/grupos/?ativo=true" class="dropdown-item">Aprovados</a>
          </div>
      </div>
  </div>
</header>

<div class="card">
  <div class="listview listview--striped">
       
    
    {% for grupo in grupos %}
          <div class="listview__item">
              <i class="avatar-char js-random-background-color">{{grupo.id}}</i>
              <div class="listview__content">
                  <div class="listview__heading">{{grupo.nome}}</div>
                  <div class="listview__attrs">
                      <span>{{grupo.turma.curso.sigla}}</span>
                      <span>{{grupo.turma.semestre}}º{{grupo.turma.sigla}} - {{grupo.turma.turno}}</span>
                      {% if grupo.ativo == False%}
                        <span>Não Aprovado</span>
                      {% endif %}
                      {% if grupo.ativo == True%}
                        <span>Aprovado</span>
                      {% endif %}
                  </div>
              </div>
              <div class="actions listview__actions">
                  <div class="dropdown actions__item">
                      <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>
                      <div class="dropdown-menu dropdown-menu-right">
                          <a href="/painel/administrador/grupos/{{grupo.id}}" class="dropdown-item">Detalhes</a>
                          {% if grupo.ativo == False%}
                            <button type="button" data-id="{{grupo.id}}" class="js-btn-remover dropdown-item">Aprovar</a>
                          {% endif %}
                          {% if grupo.ativo == True%}
                            <button type="button" data-id="{{grupo.id}}" class="js-btn-remover dropdown-item">Remover Aprovação</a>
                          {% endif %}
                    </div>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>
</div>


{% endblock %}