<th:block xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          xmlns:th="http://www.thymeleaf.org"
          layout:decorate="~{layout-painel-admin}">

    <div layout:fragment="conteudo">
        <header class="content__title">
            <h1>Cursos</h1>
            <div class="actions">
                <div class="dropdown actions__item">
                    <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/painel/admin/cursos/novo" class="dropdown-item">Novo</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="card">
            <div class="listview listview--striped">
                <div th:each="curso : ${cursos}" class="listview__item">
                    <i class="avatar-char js-random-background-color" th:text="${curso.sigla}"></i>
                    <div class="listview__content d-flex align-items-center">
                        <div class="listview__heading" th:text="${curso.nome}"></div>
                    </div>
                    <div class="actions listview__actions">
                        <div class="dropdown actions__item">
                            <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a th:href="@{/painel/admin/cursos/editar/__${curso.id}__}" href="/painel/admin/cursos/editar/" class="dropdown-item">Editar</a>
                                <button type="button" data-id="{{curso.sigla}}" class="js-btn-remover dropdown-item">Remover</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <th:block layout:fragment="javascript">
        <script>

        </script>

    </th:block>

</th:block>