{% extends "layout-plain.html" %}
{% load static %}

{% block css %}
    <!--CSS EXTRA-->
{% endblock %}

{% block title %}
	Login  - {{ block.super }}
{% endblock %}

{% block main %}
  
  <div class="login">

        
        <div class="login__block active" id="l-login">
            <div class="login__block__header">
                <i class="zmdi zmdi-account-circle"></i>
                Olá, por favor entre!

                <div class="actions actions--inverse login__block__actions">
                    <div class="dropdown">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/grupo">Criar uma conta</a>
                            <a class="dropdown-item" data-ma-action="login-switch" data-ma-target="#l-forget-password" href="">Esqueceu a senha?</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="login__block__body">
                <div class="form-group form-group--float form-group--centered">
                    <input class="form-control" type="text" name="email">
                    <label>Email</label>
                    <i class="form-group__bar"></i>
                </div>

                <div class="form-group form-group--float form-group--centered">
                    <input class="form-control" type="password" name="senha">
                    <label>Senha</label>
                    <i class="form-group__bar"></i>
                </div>

                <button href="index.html" class="btn btn--icon login__block__btn"><i class="zmdi zmdi-long-arrow-right"></i></button>
            </div>
        </div>

        
        <div class="login__block" id="l-forget-password">
            <div class="login__block__header palette-Purple bg">
                <i class="zmdi zmdi-account-circle"></i>
                Esqueceu a senha?

                <div class="actions actions--inverse login__block__actions">
                    <div class="dropdown">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" data-ma-action="login-switch" data-ma-target="#l-login" href="">Já tem uma conta?</a>
                            <a class="dropdown-item" href="/grupo">Criar uma conta</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="login__block__body">
                <p class="mt-4">Entre com seu endereço de email, você recebera um email de confirmação para resetar sua senha.</p>

                <div class="form-group form-group--float form-group--centered">
                    <input class="form-control" type="text" name="email">
                    <label>Email</label>
                    <i class="form-group__bar"></i>
                </div>

                <button href="index.html" class="btn btn--icon login__block__btn"><i class="zmdi zmdi-check"></i></button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  <script>
    
  </script>
{% endblock %}

