
{% extends "layout-administrador.html" %}
{% load static %}

{% block title %}
    Turmas  - {{ block.super }}
{% endblock %}

{% block main %}
<header class="content__title">
    <h1>Turmas</h1>
    <div class="actions">
        <div class="dropdown actions__item">
            <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="/painel/administrador/turmas/novo" class="dropdown-item">Novo</a>
            </div>
        </div>
    </div>
</header>

<div class="card">
    <div class="listview listview--striped">
        {% for turma in turmas %}
            <div class="listview__item">
                <i class="avatar-char js-random-background-color">{{turma.curso.sigla}}</i>
                <div class="listview__content">
                    <div class="listview__heading">{{turma.sigla}} - {{turma.turno}}</div>
                    <div class="listview__attrs">
                        <span>{{turma.curso.nome}}</span>
                    </div>
                </div>
                <div class="actions listview__actions">
                    <div class="dropdown actions__item">
                        <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/painel/administrador/turmas/editar/{{turma.id}}" class="dropdown-item">Editar</a>
                            <button type="button" data-id="{{turma.sigla}}" class="js-btn-remover dropdown-item">Remover</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts %}
  <script>
        function turmaExcluir(siglaEnvio, divRemover) {

            var jsonEnvio = {
                "sigla":siglaEnvio
            };

            var resposta = $.ajax({
                headers:
                { 'X-CSRFToken': '{{ csrf_token }}'},
                url: '/painel/administrador/turmas/remover/',
                method: 'POST',
                scriptCharset: "utf-8",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonEnvio),
            });

            resposta.done(function(data) {
                alert("Turma "+siglaEnvio+" excluida.");
                console.log('done', data);
                divRemover.remove();
            }
            );

            resposta.fail(function(data) {
                alert("Falha ao excluir turma "+siglaEnvio);
                console.log('fail', data);
            });
        }

        $(".js-btn-remover").click(function() {
            var sigla = $(this).data("id");
            divRemover = $(this).closest(".listview__item");
            turmaExcluir(sigla, divRemover);
        });
  </script>
{% endblock %}