
{% extends "layout-administrador.html" %}
{% load static %}

{% block title %}
    Turmas  - {{ block.super }}
{% endblock %}

{% block main %}
<header class="content__title">
    <h1>Turmas</h1>
    <div class="actions">
        <div class="dropdown actions__item">
            <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="/painel/administrador/turmas/novo" class="dropdown-item">Novo</a>
            </div>
        </div>
    </div>
</header>

<div class="card">
    <div class="listview listview--striped">
        {% for turma in turmas %}
            <div class="listview__item">
                <i class="avatar-char js-random-background-color">{{turma.curso.sigla}}</i>
                <div class="listview__content">
                    <div class="listview__heading">{{turma.semestre}}º {{turma.sigla}} - {{turma.turno}}</div>
                    <div class="listview__attrs">
                        <span>{{turma.curso.nome}}</span>
                        <span>{{turma.ano}}</span>
                    </div>
                </div>
                <div class="actions listview__actions">
                    <div class="dropdown actions__item">
                        <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/painel/administrador/turmas/editar/{{turma.id}}" class="dropdown-item">Editar</a>
                            <button type="button" data-url="/painel/administrador/turmas/remover/{{turma.id}}" class="js-btn-remover dropdown-item">Remover</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts %}
  <script>
    
  </script>
{% endblock %}