{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block essentials-css %}
            {% include "includes/essentials-css.html" %}
        {% endblock %}
        {% block css %}
        {% endblock %}
		<title>
            {% block title %}
            Impacta OPE
            {% endblock %}
        </title>
    </head>
    
    <body data-ma-theme="indigo">

        {% block main %}

            

        {% endblock %}
        
        {% block footer %}
            
        {% endblock %}
        {% block essentials-scripts %}
            {% include "includes/essentials-scripts.html" %}
        {% endblock %}
        {% block scripts %}
                
        {% endblock %}
    </body>
</html>