
{% extends "layout-administrador.html" %}
{% load static %}

{% block title %}
  Administradores  - {{ block.super }}
{% endblock %}

{% block main %}
<header class="content__title">
    <h1>Administradores</h1>
    <div class="actions">
        <div class="dropdown actions__item">
            <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="/painel/administrador/administradores/novo" class="dropdown-item">Novo</a>
            </div>
        </div>
    </div>
</header>

<div class="card">
    <div class="listview listview--striped">
        {% for administrador in administradores %}
            <div class="listview__item">
                <i class="avatar-char js-random-background-color">{{administrador.getIniciais}}</i>
                <div class="listview__content d-flex align-items-center">
                    <div class="listview__heading">{{administrador.nome}}</div>
                </div>
                <div class="actions listview__actions">
                    <div class="dropdown actions__item">
                        <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/painel/administrador/administradores/editar/{{administrador.id}}" class="dropdown-item">Editar</a>
                            <button type="button" data-url="/painel/administrador/administradores/remover/{{administrador.id}}" class="js-btn-remover dropdown-item">Remover</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts %}
  <script>
    
  </script>
{% endblock %}