{% load static %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block essentials-css %}
            {% include "includes/essentials-css.html" %}
        {% endblock %}
        {% block css %}
        {% endblock %}
		<title>
            {% block title %}
            Impacta OPE
            {% endblock %}
        </title>
    </head>
    
    <body data-ma-theme="indigo">
        <main class="main">
            <header class="header">
                <div class="header__logo">
                    <a href="/"><img id = "img" src="{% static 'img/logo-faculdade-branco.png' %}"></a>
                </div>
            
                <ul class="top-nav">
                    <li class="dropdown hidden-xs-down">

                        {% if request.user.is_authenticated %}
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-account"></i>
                            Olá {{ request.user.nome }}
                        </a>
                        {% endif %}
                        {% if not request.user.is_authenticated %}
                            <a href="/login">
                                <i class="zmdi zmdi-account"></i>
                                Entrar
                            </a>
                        {% endif %}
                    
                        <div class="dropdown-menu dropdown-menu-right">
                            {% if request.user.is_authenticated %}
                                <a href="/painel/administrador" class="dropdown-item">Painel</a>
                                <a href="/logout" class="dropdown-item">Sair</a>
                            {% endif %}
                        </div>
                    
                    </li>
                </ul>

                <ul class="top-menu top-menu-lg visible-lg-up visible-md-up hidden-sm-down hidden-xs-down">
                    <li><a href>Home</a></li>
                    <li><a href>Trabalhos</a></li>
                    <li><a href>Ajuda</a></li>
                </ul>
                
                <ul class="top-menu hidden-md-up hidden-lg-up visible-xs-up visible-sm-up">
                    <li><a href>Home</a></li>
                    <li><a href>Trabalhos</a></li>
                    <li><a href>Ajuda</a></li>
                </ul>

            </header>
        </main>
        {% block main %}
        {% endblock %}
        
        {% block footer %}
            
        {% endblock %}
        {% block essentials-scripts %}
            {% include "includes/essentials-scripts.html" %}
        {% endblock %}
        {% block scripts %}
                
        {% endblock %}
    </body>
</html>


