<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">OPE</title>
    <th:block th:replace="includes/dependencias-css" />
</head>

<body data-ma-theme="indigo">

    <main class="main">
        <section class="error">
            <div class="error__inner">
                <h1>404</h1>
                <!-- <h2>The page you were looking for doesn't exist!</h2>
                <p>Donec in ex eget orci facilisis gravida vitae ut tortor. In tempus lacus ac dui iaculis, placerat tempus diam vehiculaed suscipit tortor id lorem mollis</p>
-->           </div>
        </section>
    </main>
    <th:block th:replace="includes/dependencias-js" />

</body>
</html>
