<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">OPE</title>
    <th:block th:replace="includes/dependencias-css" />
</head>

<body data-ma-theme="indigo">

    <main class="main">
        500
    </main>
    <th:block th:replace="includes/dependencias-js" />

</body>
</html>
