{% extends "layout-administrador.html" %} 
{% load static %} 
{% block title %} Disciplinas - {{ block.super }} {% endblock %}
{% block main %}

<header class="content__title">

    <h1>Disciplinas</h1>

    <div class="actions">

        <div class="dropdown actions__item">
            <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="/painel/administrador/disciplinas/" class="dropdown-item">Listagem</a>
            </div>
        </div>
    </div>
</header>

<div class="card">
    <div class="card-body">
        <form action "/painel/administrador/disciplinas/novo" on="submit" method="POST">
            {{ form.errors }}
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="form-group">
                        <input name="nome" value="{{disciplina.nome}}" type="text" class="form-control" placeholder="Nome" />
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-md-12 col-lg-2">
                    <div class="form-group">
                        <input name="sigla" value="{{disciplina.sigla}}"  type="text" class="form-control" placeholder="Sigla" />
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-md-12 col-lg-7">
                        <div class="form-group">
                            <div class="select">
                                <select name="cursos" class="form-control" multiple="multiple">
                                    {% for curso in cursos %}
                                        <option {% if curso.id in disciplina.getCursosIds %} selected="selected"{% endif %} value="{{curso.id}}">{{curso.nome}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                </div>
            </div>
            <div class="d-flex flex-row-reverse btn-row">
                <button type="submit" class="btn btn-success">Salvar</button>
                <a href="/painel/administrador/disciplinas/" class="btn btn-outline-danger">Cancelar</a>    
            </div>
        </form>

    </div>
</div>


{% endblock %}