
{% extends "layout-administrador.html" %}
{% load static %}

{% block title %}
    Disciplinas  - {{ block.super }}
{% endblock %}

{% block main %}
<header class="content__title">
    <h1>Disciplinas</h1>
    <div class="actions">
        <div class="dropdown actions__item">
            <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="/painel/administrador/disciplinas/novo" class="dropdown-item">Novo</a>
            </div>
        </div>
    </div>
</header>

<div class="card">
    <div class="listview listview--striped">
        {% for disciplina in disciplinas %}
            <div class="listview__item">
                <i class="avatar-char js-random-background-color">{{disciplina.sigla}}</i>
                <div class="listview__content">
                    <div class="listview__heading">{{disciplina.nome}}</div>
                    <div class="listview__attrs">
                        {% for curso in disciplina.cursos.all %}
                            <span>{{curso.sigla}}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="actions listview__actions">
                    <div class="dropdown actions__item">
                        <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/painel/administrador/disciplinas/editar/{{disciplina.sigla}}" class="dropdown-item">Editar</a>
                            <button type="button" data-url="/painel/administrador/disciplinas/remover/{{disciplina.sigla}}" class="js-btn-remover dropdown-item">Remover</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts %}
  <script>
   
  </script>
{% endblock %}