<th:block xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          xmlns:th="http://www.thymeleaf.org"
          layout:decorate="~{layout-home}">

    <div layout:fragment="conteudo">

                <main class="main">

                    <form id="drag-and-drop-zone" hidden="">
                        <input type="file" />
                    </form>

                    <section class="container">

                        <form th:action="@{/grupos/}" method="POST">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="token" />
                            <div class="content__inner">
                                <header class="content__title">
                                    <h1>Cadastro do grupo</h1>
                                    <small>Insira as informações sobre seu grupo e os integrantes, em seguinda aguarde a aprovação por email para acessar a plataforma!</small>
                                </header>




                                <div class="card profile">
                                    <div class="actions">
                                    </div>
                                    <div class="profile__img">
                                        <img id="img-logo-grupo" src="" th:src="@{/img/contacts/2.jpg}" alt=""/>
                                        <a data-img-id="img-logo-grupo" data-input-result-id="input-logo-hash-grupo" class="js-link-upload-foto zmdi zmdi-camera profile__img__edit"></a>
                                        <input id="input-logo-hash-grupo" name="logoHash" type="text" hidden=""/>
                                    </div>
                                    <div class="profile__info">
                                        <h3 class="card-body__title">Informações Grupo</h3>
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input name="nome" type="text" class="form-control js-obrigatorio" placeholder="Nome do grupo"/>
                                                        <div class="invalid-feedback">
                                                            Nome do grupo é obrigatório.
                                                        </div>
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input name="tema" type="text" class="form-control js-obrigatorio" placeholder="Tema">
                                                        <div class="invalid-feedback">
                                                            Tema do grupo é obrigatório.
                                                        </div>
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="select">
                                                            <select name="curso" class="form-control js-obrigatorio js-cursos" placeholder="Curso">
                                                                <option th:each="curso : ${cursos}" th:value="${curso.id}" th:text="${curso.nome}"></option>
                                                            </select>
                                                            <div class="invalid-feedback">
                                                                Curso é obrigatório.
                                                            </div>
                                                            <i class="form-group__bar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="select">
                                                            <select name="turma" class="form-control js-obrigatorio js-turmas" placeholder="Turma">


                                                            </select>
                                                            <div class="invalid-feedback">
                                                                Turma é obrigatório.
                                                            </div>
                                                            <i class="form-group__bar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <section id="sec-integrantes" data-quantia="0" class="js-integrates">
                                <div id="card-0" class="card profile">
                                    <div class="actions">
                                    </div>
                                    <div class="profile__img">
                                        <img id="img-foto-integrante-0" src="" th:src="@{/img/contacts/2.jpg}" alt=""/>
                                        <a data-img-id="img-foto-integrante-0" data-input-result-id="input-foto-hash-0" class="js-link-upload-foto zmdi zmdi-camera profile__img__edit"></a>
                                        <input id="input-foto-hash-0" name="alunos[0].fotoHash" type="text" hidden=""/>
                                    </div>
                                    <div class="profile__info">
                                        <h3 class="card-body__title">1º Integrante</h3>
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input name="alunos[0].nome" type="text" class="form-control js-obrigatorio" placeholder="Nome"/>
                                                        <div class="invalid-feedback">
                                                            Nome do integrante é obrigatório.
                                                        </div>
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input name="alunos[0].ra" type="number" class="form-control js-obrigatorio" placeholder="RA">
                                                        <div class="invalid-feedback">
                                                            RA é obrigatório.
                                                        </div>
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input name="alunos[0].email" type="email" class="form-control js-obrigatorio" placeholder="Email">
                                                        <div class="invalid-feedback">
                                                            Email é obrigatório.
                                                        </div>
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input name="alunos[0].telefone" type="number" class="form-control" placeholder="Telefone">
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between flex-wrap">
                                        <button id="btn-add-aluno" class="btn btn-info btn--icon-text mt-auto" type="button" style="margin:1em"><i class="zmdi zmdi-account-o"></i>Adicionar outro integrante</button>
                                        <button class="btn btn-success btn--icon-text mt-auto js-btn-finalizar" type="button" style="margin:1em"><i class="zmdi zmdi-check"></i>Finalizar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </main>
            </div>

    <th:block layout:fragment="javascript">

        <script th:src="@{/js/home/grupos.js}">

        </script>


    </th:block>

</th:block>