<aside class="sidebar">
    <div class="scrollbar-inner">
        <div class="user">
            <div class="user__info" data-toggle="dropdown">
                <img class="user__img" th:src="@{/img/profile-pics/8.jpg}" alt="">
                <div>
                    <div th:text="${#authentication?.principal?.nome}" class="user__name">Nome</div>
                    <div th:text="${#authentication?.principal?.email}" class="user__email">Email</div>
                </div>
            </div>

            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/painel/admin/perfil}">Ver perfil</a>
                <a class="dropdown-item" th:href="@{/logout}">Sair</a>
            </div>
        </div>

        <ul class="navigation">
            <li>
                <a th:href="@{/}"><i class="zmdi zmdi-home"></i>Home</a>
            </li>
            <li>
                <a th:href="@{/painel/admin}"><i class="zmdi zmdi-view-dashboard"></i>Painel</a>
            </li>
            <li>
                <a th:href="@{/painel/admin/cursos}"><i class="zmdi zmdi-view-list"></i>Cursos</a>
            </li>
            <li>
                <a th:href="@{/painel/admin/disciplinas}"><i class="zmdi zmdi-view-list"></i>Disciplinas</a>
            </li>
            <li>
                <a th:href="@{/painel/admin/turmas}"><i class="zmdi zmdi-view-list"></i>Turmas</a>
            </li>
            <li>
                <a th:href="@{/painel/admin/administradores}"><i class="zmdi zmdi-view-list"></i>Administradores</a>
            </li>
            <li>
                <a th:href="@{/painel/admin/professores}"><i class="zmdi zmdi-view-list"></i>Professores</a>
            </li>
            <li>
                <a th:href="@{/painel/admin/grupos}"><i class="zmdi zmdi-view-list"></i>Grupos</a>
            </li>
        </ul>
    </div>
</aside>
