<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="tarefaForm">
        <form th:action="${edicao} == true ? @{/painel/admin/tarefas/__${tarefa.id}__} : @{/painel/admin/tarefas/novo}" method="POST" th:object="${tarefa}">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="form-group">
                        <input th:field="*{titulo}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="Titulo" />
                        <div class="invalid-feedback">
                            Coloque um nome.
                        </div>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row-reverse btn-row">
                <button type="submit" class="btn btn-success">Salvar</button>
                <a href="/painel/admin/tarefas/" class="btn btn-outline-danger">Cancelar</a>
            </div>
        </form>
    </th:block>
</html>