
{% extends "layout-administrador.html" %}
{% load static %}

{% block title %}
	Grupos  - {{ block.super }}
{% endblock %}

{% block main %}

<header class="content__title">
  <h1>grupos</h1>
  <div class="actions">
      <div class="dropdown actions__item">
          <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
          <div class="dropdown-menu dropdown-menu-right">
              <a href="/painel/administrador/grupos/" class="dropdown-item">Todos</a>
              <a href="/painel/administrador/grupos/?ativo=false" class="dropdown-item">Não Aprovados</a>
              <a href="/painel/administrador/grupos/?ativo=true" class="dropdown-item">Aprovados</a>
          </div>
      </div>
  </div>
</header>

<div class="contacts row">  
    {% for grupo in grupos %}    
            <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
                
                <div class="contacts__item">
                    <div class="listview listview--striped">
                        <a href="/painel/administrador/grupos/{{grupo.id}}" class="contacts__img">
                            <img src="../../../../template-estatico/demo/img/contacts/1.jpg" alt="">
                        </a>
                        
                    </div>
                    <div class="contacts__info">
                        <strong>{{grupo.nome}}</strong>
                        
                    </div>
                    <div class="contacts__info">
                        <span>{{grupo.turma.curso.sigla}}</span>
                        <span>{{grupo.turma.semestre}}º{{grupo.turma.sigla}} - {{grupo.turma.turno}}</span>
                        <span>    
                            {% if grupo.ativo == False%}
                                <span><p>Não Aprovado</p></span>
                            {% endif %}
                            {% if grupo.ativo == True%}
                                <span><p>Aprovado</p></span>
                            {% endif %}
                        </span>
                    </div> 
                    <div class="btn-demo">
                        {% if grupo.ativo == False%}
                                  <button type="button" data-id="{{grupo.id}}" class="btn btn-outline-primary">Aprovar</a>
                                {% endif %}
                                {% if grupo.ativo == True%}
                                  <button type="button" data-id="{{grupo.id}}" class="btn btn-outline-secundary">Remover Aprovação</a>
                        {% endif %}
                    </div>   
                </div>
            </div>
    {% endfor %}   
</div>   
        
{% endblock %}

